<!DOCTYPE html>
<html>
    <head>
        <%
        var title = page.title;
        if (is_archive()){
          title = __('archive');
          if (is_month()){
            title += '：' + page.year + '/' + page.month;
          } else if (is_year()){
            title += '：' + page.year;
          }
        } else if (is_category()){
          title = __('count.categories') + '：' + page.category;
        } else if (is_tag()){
          title = __('count.tags') + '：' + page.tag;
        }
        %>
        <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
        <meta charset="utf-8">
        <%- css('css/dark.css') %>
        <%- css('/iconfont/demo.css') %> 
        <%- css('/iconfont/iconfont.css') %>
        <link rel="shortcut icon" href="<%- url_for(theme.logo) %>" type="image/x-icon">
    </head>
    <body style="background-color: #1f1f1f;">
    	<div class="dark-body">
        <%- partial('_partial/nav.ejs') %> 
        <%- body %> 
      </div>
    </body>
</html>


